@import 'nib' // stylus extra compiler http://tj.github.io/nib/

global-reset() // apply reset.css
reset-html5() // apply reset.css for html5 components

@import '../components/**/*.styl'

// simple BEM example
.test
    display block
    background linear-gradient(top, #fff 0%, #000 100%)
    
    &--highlighted
        display block
        image '../images/nicely.jpg'
    
    &__element
        display block
        
        &--highlighted
            display block
