include ../../../node_modules/bemto.jade/bemto
doctype html
html
    head
        block title
            title hello world
    body
        block content
            | hello world !!!
        script(src="/scripts/bundle.js")