extends /layouts/default
include /components/main-page/main-page

block title
  title Index Title

block content
  my-app
    | Loading AppComponent content here ...
  +mainPage
  .test.test--highlighted
