- var xxx = 'demo variable'
doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        block title
            title hello world
        block head
            meta(property="js:entry", content="index")
            meta(property="js:dependencies:libraries", content="jquery,moment:async,bootstrap")
            meta(property="js:dependencies:modules", content="")
            meta(property="js:app-ver", content=version)
            link(rel="stylesheet", href="/styles/index.css?v=" + version)
    body
        block content
            | hello world
        p.example= xxx
        script(src="/scripts/core/acme.js?v=" + version)
