/**
 * iPhone mixin
 * example:
 * +iphone(all, landscape)
 *   body
 *     display none
 */
iphone($version = all, $orientation = all)
  $media-orientation = $orientation == all ? 'and' : 'and (orientation: ' + $orientation + ') and'
  if $version == '4' or $version == '4S' or $version == 'all'
    $query = 'only screen and (min-device-width: 320px) and (max-device-width: 480px) %s (-webkit-min-device-pixel-ratio: 2)' % $media-orientation
    @media $query
      {block}
  if $version == '5' or $version == '5S' or $version == 'SE' or $version == 'all'
    $query = 'only screen and (min-device-width: 320px) and (max-device-width: 568px) %s (-webkit-min-device-pixel-ratio: 2)' % $media-orientation
    @media $query
      {block}
  if $version == '6' or $version == '6S' or $version == '7' or $version == '7S' or $version == 'all'
    $query = 'only screen and (min-device-width: 375px) and (max-device-width: 667px) %s (-webkit-min-device-pixel-ratio: 2)' % $media-orientation
    @media $query
      {block}
  if $version == '6+' or $version == '7+' or $version == 'all'
    $query = 'only screen and (min-device-width: 414px) and (max-device-width: 736px) %s (-webkit-min-device-pixel-ratio: 3)' % $media-orientation
    @media $query
      {block}
